@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/allenia');

/* ===== General Reset and Defaults ===== */
body {
  margin: 0;
  background-color: #000;
  color: #eee;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

:root {
  --width: min(1200px, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* ===== Header Section ===== */
header {
  width: var(--width);
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  padding-inline: 20px;
}

header .logo img {
  height: 35px;
}

header nav ul {
  display: flex;
  gap: 2em;
}

header nav ul li.active {
  border-bottom: 1px solid #eee8;
}

/* ===== Banner Section ===== */
.banner {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* ===== Background City Image ===== */
#bg_city {
  width: 100%;
  height: 100vh;
  background-image: url('city.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.35;
  transform-origin: center;
}

/* ===== Content Over the Background ===== */
.banner .content {
  position: absolute;
  width: var(--width);
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: grid;
  grid-template-rows: 10vh 40vh 20vh;
  z-index: 5;
}

/* ===== Top Section Text (HARSH / WEB DEVELOPER) ===== */
.banner .content .item:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.banner .content .item:nth-child(1) div:nth-child(2) {
  text-align: right;
}

/* ===== Title Section (Creative Web Design...) ===== */
.banner .title {
  text-align: center;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Allenia', sans-serif;
  line-height: 1.1;
}

.banner .title p {
  margin: 0;
  padding: 0;
}

/* ===== Main Content ===== */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 5em;
  gap: 5em;
  position: relative;
}

main::after {
  width: 100%;
  height: 100px;
  content: '';
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 100%;
  background-image: linear-gradient(to top, #000, #0000);
}

/* ===== Friend Section ===== */
.friend {
  width: var(--width);
  padding-inline: 20px;
}

.friend ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.friend ul img {
  height: 50px;
}

/* ===== About Me Section ===== */
.me {
  text-align: center;
  margin-bottom: 5em;
}

.me h1,
.me h2 {
  font-weight: 500;
}

.me h1 {
  font-size: 4em;
}

.me h2 {
  font-size: 2em;
  color: #ccc;
}

/* ===== Paragraph Section (Lorem) ===== */
.lorem {
  padding-inline: 20px;
  width: var(--width);
  line-height: 1.7;
  font-size: 1.1em;
  columns: 400px 2;
  column-gap: 2em;
  text-align: justify;
}

/* ===== Responsive Design ===== */
@media screen and (max-width: 1023px) {
  .banner .title {
    font-size: 3em;
  }
  .me h1,
  .me h2 {
    font-size: 3em;
  }
  .lorem {
    columns: 1;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .banner .title {
    font-size: 2.2em;
  }
  .me h1,
  .me h2 {
    font-size: 2em;
  }
  header .logo img {
    height: 28px;
  }
}
